<div class="card mat-elevation-z20">
  <h2 style="text-align: center;"> View Students Assigned To You</h2>
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <td>
          <h3>S/No</h3>
        </td>
        <td>
          <h3>Fullname</h3>
        </td>
        <td>
          <h3>RegistrationNo</h3>
        </td>
        <td>
          <h3>Phone Number</h3>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr class="" style="margin-bottom: 20px; border-radius: 10px;" *ngFor="let student of students;index as i">
        <td>
          {{ i + 1}}
        </td>
        <td>
          {{student.FirstName}} {{student.LastName}} 
        </td>
        <td>
        {{student.RegistrationNo}} 
        </td>
        <td>
          0{{student.Phone}}
        </td>
      </tr>
    </tbody>
</table>
</div>
