<h2 style="text-align: center;"> Send Invite To Student</h2>
<div class="mat-elevation-z20 card ">
    <form method="post">
      <mat-form-field [draggable]='true' appearance='outline' class="full-width" >
        <mat-label>Pick a Date</mat-label>
        <input matInput placeholder="(DD/MM/YYYY)">
      </mat-form-field> &nbsp;
      <mat-form-field [draggable]='true' appearance='outline' class="full-width" >
        <mat-label>Pick a Date</mat-label>
        <input matInput placeholder="(DD/MM/YYYY)">
      </mat-form-field>
      <mat-form-field [draggable]='true' appearance='outline' class="full-width" >
        <mat-label>Meeting Venue</mat-label>
        <input matInput value="My Office">
      </mat-form-field>&nbsp;
      <button class="button" mat-button>Send Invite</button>
    </form>
</div>
