<div class="container mb-30">
  <h1>All Status and Notifications</h1>
  <hr>
</div>

<div class="container">
  <h2>Proposal Status</h2>
  <hr>
</div>

<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Topic Submission Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 600; color:rgb(7, 248, 7)">Done</span>
  <mat-icon style="margin-right: 10px; color:rgb(0, 255, 0)">done</mat-icon>
</div>

<div class="container">
  <hr>
  <h2>Chapter Submission Status</h2>
  <hr>
</div>

<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Chapter1 Submission Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 600; color:rgb(0, 255, 0)">Done</span>
  <mat-icon style="margin-right: 10px; color:rgb(0, 255, 0)" color="green">done</mat-icon>
</div>
<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Chapter2 Submission Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 600;">Pending</span>
  <mat-icon style="margin-right: 10px; color:rgb(90, 88, 88)">pending_actions</mat-icon>
</div>
<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Chapter3 Submission Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 600;">Pending</span>
  <mat-icon style="margin-right: 10px; color:rgb(90, 88, 88)">pending_actions</mat-icon>
</div>
<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Chapter4 Submission Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 600; color:red">Rejected</span>
  <mat-icon style="margin-right: 10px; color:red">close</mat-icon>
</div>
<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Chapter5 Submission Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 600; color:red">Rejected</span>
  <mat-icon style="margin-right: 10px; color:red">close</mat-icon>
</div>

<div class="container">
  <hr>
  <h2>Appointment Request Status</h2>
  <hr>
</div>

<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Appointment Status</span>
  <div class="spacer"></div>
  <span style="font-weight: 700;">12:30 pm</span>
  <div class="spacer"></div>
  <span style="font-weight: 600; color:red">Rejected</span>
  <mat-icon style="margin-right: 10px; color:red">close</mat-icon>
</div>


<div class="container">
  <hr>
  <h2>Invitations</h2>
  <hr>
</div>

<div class="mat-elevation-z20" style="display: flex; border-radius: 10px; padding-left: 10px; height: 50px; align-items: center; margin: 20px; background-color: white;">
  <span style="font-weight: 700;">Visitation Invite</span>
  <div class="spacer"></div>
  <span style="font-weight: 700;">12:30pm</span>
  <div class="spacer"></div>
  <span style="font-weight: 700;">02/08/2021</span>
  <div class="spacer"></div>
</div>
<div class="mb-10"></div>
