
<p class="ml-10">home works!</p>
<mat-icon>home</mat-icon>
<mat-icon>search</mat-icon>
<mat-icon>settings</mat-icon>
<mat-icon>account_circle</mat-icon>
<mat-icon>done</mat-icon>
<mat-icon>delete_outline visibility logout  schedule manage_accounts verified event dashboard login </mat-icon><br>
<mat-icon>visibility_off check_circle_outline question_answer close menu cancel more_vert add send notifications password</mat-icon><br>
<mat-icon>edit school person_add notifications_active mail phone qr_code file_upload file_download upload_file attachment</mat-icon>

a

<div class="container">
  <app-request-appointment></app-request-appointment>
  <app-view-chapter-status></app-view-chapter-status>
  <app-upload-chapters></app-upload-chapters>
  <app-upload-project-topic></app-upload-project-topic>
  <app-completed-project></app-completed-project>
  <app-project-topics></app-project-topics>
</div>