<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mat-elevation-z20 card" [routerLink]="['/supervisor/make_appointment']">
        <div>
          <mat-icon>add_chart</mat-icon>
        </div>
        <br>
        <div>
          <h2>Send Invitation</h2>
          <p>Send An Invitation to a Student</p>
        </div>
      </div>

      <div class="col-md-5 mat-elevation-z20 card" [routerLink]="['/supervisor/upload_topics']">
        <div>
          <mat-icon>announcement</mat-icon>
        </div>
        <br>
        <div>
          <h2>Submit Project Topics</h2>
          <p>Click to view status of all submissions</p>
        </div>
      </div>

      <div class="col-md-5 mat-elevation-z20 card" [routerLink]="['/supervisor/student_list']">
        <div>
          <mat-icon>school</mat-icon>
        </div>
        <br>
        <div>
          <h2>Compiled And Submitted Projects</h2>
          <p>View completed projects by previous students</p>
        </div>
      </div>

      <div class="col-md-5 mat-elevation-z20 card" [routerLink]="['/supervisor/review']">
        <div>
          <mat-icon>assignment</mat-icon>
        </div>
        <br>
        <div>
          <h2>Submit Project Topics</h2>
          <p>Click to submit the desired topic you wish to work on.</p>
        </div>
      </div>

    </div>
  </div>
</div>
