<h2>Send Visitation Request For Your Supervisor</h2>
<div>
  <form class="card mat-elevation-z20" [formGroup]='reqForm' (ngSubmit)='save()' >
    <mat-form-field appearance='outline' size='sm'>
      <mat-label>Choose a Date</mat-label>
      <input matInput formControlName='date'>
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
    <mat-form-field appearance='outline'>
      <mat-label>Pick a Time</mat-label>
      <input matInput formControlName='time'>
      <mat-icon matSuffix>schedule</mat-icon>
    </mat-form-field>
    <button class="button" mat-button [disabled]="this.reqForm.invalid">
      <mat-spinner *ngIf='loading' [diameter]='30'></mat-spinner>
      <span *ngIf="!loading"><mat-icon>upload_file</mat-icon> Request Visit</span>
    </button>
  </form>
</div>
