<div class="container">
  <h1>Submitted Project Topics</h1>
  <hr>

  <div class="card mat-elevation-z20" >

  <!-- </div>mat-table style=""> -->
    <table class="table table-striped">
      <thead class="thead">
        <tr>
          <td> S/No</td>
          <td>Project Title</td>
          <td>Author</td>
          <td>Date</td>
          <td>Supervisor</td>
          <td>downloads</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects;index as i">
          <td> {{ i + 1}}</td>
          <td><!--style="text-align: start">--> {{ project.project_title }} </td>
          <td> {{ project.student}} </td>
          <td> {{ project.year}} </td>
          <td> {{ project.supervisor}} </td>
          <td>
            <a [href]="url+project.project_file" target="_blank">
              <button mat-button>
                <mat-icon>download</mat-icon>
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>