/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  height: 100%;
}
body {
  margin: 0;
  /* background-color: #3a92e9 !important; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1;
}
.full-width {
  width: 90%;
}
button {
  cursor:pointer;
}
.placeholder {
  height: 55px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px
}
.mb-10 {
  margin-bottom: 100px;
}
.mt-10 {
  margin-top: 10px;
}
input {
  border: none;
  outline: none;
  display: inline-flex;
  /* border-radius: 15px; */
  /* box-shadow: 2px 2px 0px 0px #686a6d; */
  height: 30px;
  /* padding-left: 20px; */
}
input[type='file'] {
  border-radius: 0px;
  align-self: start !important  ;
}
.card {
  /* background-color: rgb(235, 231, 231); */
  color: #1976d2;
  /* width: 100%; */
  min-height: 100% !important;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px 10px;
  text-align: center;
}
.button {
  background-color: #e94412;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  outline: none;
  display: flex;
  border-radius: 15px;
  width: 35%;
  height: 30px;
  margin: 0 auto;
}

