<!--
<div class="toolbar" role="banner">
  <span class="name">Undergraduate PMS</span>
    <div class="spacer"></div>
    <button ngbTooltip='Update Profile'><mat-icon>person</mat-icon></button>
    <div class="spacer"></div>
    <button mat-button ngbTooltip='Download Project Guidelines'><a href="http://localhost:8000/media/failFast.pdf"></a><mat-icon>download</mat-icon>Guidelines</button>
    <div class="spacer"></div>

    <input type="text" style="width: 20%;" placeholder="Search Projects">

    <div class="spacer"></div>
    <button class="" [routerLink]="['/login']" ngbTooltip='Login'><mat-icon matPrefix>login</mat-icon></button>
    <button ngbTooltip='Logout'><mat-icon>logout</mat-icon></button>
    <button class="ml-10 mr-10" [routerLink]="['/user']" ngbTooltip='Sign Up'><mat-icon>person_add</mat-icon></button>
</div> -->

<nav class="navbar navbar-expand-lg toolbar">
  <h2 [routerLink]="'/'" style="cursor:pointer;color: white !important;">Undergraduate PMS</h2>
  <div class="spacer"></div>
  
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  
  <button class='navbar-toggler' type="button" style="border-color: transparent;" (click)='isMenuCollapsed = !isMenuCollapsed'><span *ngIf="isMenuCollapsed"> &#9776;</span> <span *ngIf="!isMenuCollapsed"> X </span> </button>
  <div class="spacer"></div>
  <div [ngbCollapse]='isMenuCollapsed' class='collapse navbar-collapse'>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href='http://localhost:8000/media/files/major_project.pdf' download="http://localhost:8000/media/files/major_project.pdf" target="_blank">
          <button class="mt-10 ml-10 mr-10" ngbTooltip='Download Project Guidelines' (click)='isMenuCollapsed =true'>
            <mat-icon>download</mat-icon>
          </button>
        </a>
      </li>
      <div class="spacer"></div>
      <!-- <li class="nav-item">
        <button class="mt-10 ml-10 mr-10" [routerLink]="['/login']" ngbTooltip='Login' (click)='isMenuCollapsed =true'><mat-icon matPrefix>login</mat-icon></button>
      </li> -->
      <!-- <div class="spacer"></div>
      <li class="nav-item" *ngIf='isLoggedIn==true'>
        <button class="mt-10 ml-10 mr-10" ngbTooltip='Logout' (click)='isMenuCollapsed =true' (click)='logout()'><mat-icon>logout</mat-icon></button>
      </li>
      <div class="spacer"></div> -->
      <!-- <li class="nav-item">
        <button class="mt-10 ml-10 mr-10" [routerLink]="['/signup']" ngbTooltip='Sign Up' (click)='isMenuCollapsed =true'><mat-icon>person_add</mat-icon></button>
      </li> -->
    </ul>
  </div>
</nav>

<div class="placeholder"></div>
<div class="container">
  <div class="container">
    <div class="container">
      <router-outlet class="mb-10"></router-outlet>
    </div>
  </div>
</div>
