<div class="mat-elevation-z20 card">
  <form method="POST">
    <mat-form-field [draggable]='true' appearance='outline' class="full-width">
      <mat-label>Project Title</mat-label>
      <input matInput placeholder='Design and Implementation of GPS tracking System'>
    </mat-form-field>
    <mat-form-field [draggable]='true' appearance='outline' class="full-width" disabled>
      <mat-label>Upload Date</mat-label>
      <input matInput >
    </mat-form-field>

    <button mat-button class="button">Upload</button>
  </form>
</div>
