<div>
  <div class="container">
    <h1>Submit A Project Topic</h1>
    <hr color="#1976d2">
  </div>
  <div class="mat-elevation-z20 card">
    <form method="POST" [formGroup]='uploadTopicForm' >
      <mat-form-field [draggable]='true' appearance='outline' class="full-width">
        <mat-label>Project Title</mat-label>
        <input matInput placeholder='Design and Implementation of GPS tracking System' formControlName='Title'>
      </mat-form-field>
      <mat-form-field [draggable]='true' appearance='outline' class="full-width">
        <mat-label>Submitted By</mat-label>
        <input matInput placeholder='Dr.Faruk Umar Ambursa' formControlName='SubmittedBy'>
      </mat-form-field>
      <button mat-button class="button" [disabled]='this.uploadTopicForm.invalid' (click)="logData()">Upload</button>
    </form>
  </div>
</div>
<br>
<div>
  {{this.uploadTopicForm.value | json}}
</div>
