<div class="container mb-30">
  <h1>Send Visitation Request To Supervisor</h1>
  <hr>
</div>
<div class="card mat-elevation-z20">
  <form  [formGroup]='reqForm' (ngSubmit)='save()'>
    <div class="center">
      <mat-form-field appearance='outline'>
        <mat-label>Select Your Lecturer</mat-label>
        <mat-select formControlName='Lecturer'>
          <mat-option *ngFor="let lecturer of lecturers" [value]='lecturer'>
            {{ lecturer }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reqForm.get('Lecturer')?.hasError('required')">Required field cannot be blank</mat-error> 
      </mat-form-field>
    </div>
    <mat-form-field [draggable]='true' appearance='outline' class="full-width">
      <mat-label>Choose a Date</mat-label>
      <input matInput formControlName='Date' placeholder="(dd/mm/yyyy)">
      <mat-icon matSuffix>event</mat-icon>
      <mat-error *ngIf="this.reqForm.get('Date')?.hasError('required')">Required field cannot be blank</mat-error> 
      <mat-error *ngIf="this.reqForm.get('Date')?.hasError('minlength')">Character length cannot be less than 8, seperate with '/ or -'</mat-error> 
      <mat-error *ngIf="this.reqForm.get('Date')?.hasError( 'maxlength')">Character length must not exceed 10, seperate with '/ or -'</mat-error>
    </mat-form-field>
    <mat-form-field [draggable]='true' appearance='outline' class="full-width">
      <mat-label>Pick a Time</mat-label>
      <input matInput formControlName='Time'>
      <mat-icon matSuffix>schedule</mat-icon>
      <mat-error *ngIf="this.reqForm.get('Time')?.hasError('required')">Required filed cannot be blank</mat-error> 
      <mat-error *ngIf="this.reqForm.get('Time')?.hasError('minlength') || this.reqForm.get('Time')?.hasError( 'maxlength')">Character length must be exactly 5, seperate with ': or -'</mat-error>
    </mat-form-field>
    <button class="button" mat-button [disabled]="this.reqForm.invalid">
      <mat-spinner *ngIf='loading' [diameter]='30'></mat-spinner>
      <span *ngIf="!loading"><mat-icon>upload_file</mat-icon> Request Visit </span>
    </button>
  </form>
</div><br>
<div>{{ this.reqForm.value | json }}</div>
