<div class="container mb-30">
  <h1>Submit Project Topic</h1>
  <hr>
</div>
<div class="card mat-elevation-z20" style="min-height: 300px !important;">
  <form enctype="multipart/form-data" [formGroup]='proposalForm' (ngSubmit)='submit()'>
    <div class="center">
      <mat-form-field appearance='outline'>
        <mat-label>Choose supervisor</mat-label>
        <mat-select formControlName='supervisor'>
          <mat-option *ngFor="let supervisor of supervisors" [value]='supervisor.username'>
            {{ supervisor.username }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="this.proposalForm.get('lecturer')?.hasError('required')">Required Field must be selected</mat-error> -->
      </mat-form-field>
    </div>

    <mat-form-field [draggable]='true' appearance='legacy' class="full-width">
      <mat-label>Proposal Topic Name</mat-label>
      <input matInput formControlName='proposal_title' placeholder="Design and Implementation">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field><br>

    <div>
      <input type="file" (change)="readUrl($event)" formControlName='proposal_file' class="full-width">
      <!-- <textarea formControlName=''  cols="50" rows="30" >Enter Brief Abstract</textarea> -->
      <img [src]="src" [alt]="src" width="50" height="50" *ngIf="src">
    </div>
    <br>
    <button class="button" mat-button [disabled]="this.proposalForm.invalid">
      <mat-spinner *ngIf='loading' [diameter]='29'></mat-spinner>
      <span *ngIf='!loading'>
        <mat-icon>file_upload</mat-icon> Upload Topic
      </span>
    </button>
  </form>
</div>
<br>
<div>{{this.proposalForm.value | json}}</div>
