<!-- <div class="placeholder"></div> -->
<div class="login-card">
  <h1 style="text-align: center;">Login</h1>
  <h3 style="text-align: center; padding-left: 15px; color: rgb(104, 102, 100);"> Let's Get You In.</h3>


  <form [formGroup]="loginForm">
    <label for="email">
      <!-- Registration Number -->
      <input type="text" formControlName="reg_no" id="reg_no" placeholder="Enter Registration Number">
    </label><br>
    <label for="password">
      <!-- Password -->
      <input type="password" formControlName="pwd" id="pwd" placeholder="Enter Something Super Secret">
    </label>
    <br>
    <button class="login-button" (click)='login()'>Login</button>
  </form>
    <h4 style="text-align: center;">Don't have an account?  <a [routerLink]="['/signup']">SignUp</a> here.</h4>
</div>

