/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #51606e !important;
  color: black !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #1976d2;
}
h1 {
  color: black !important;
  text-align: center;
  font-weight: 700 !important;
}
h2 {
  color: black !important;
  text-align: center;
  /* font-weight: 300 !important; */
}
.spacer {
  flex: 1;
}
.full-width {
  width: 90%;
}
button {
  cursor:pointer;
}
.placeholder {
  height: 70px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px
}
.mb-10 {
  margin-bottom: 100px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-50 {
  margin-top: 50px;
}
input {
  border: none;
  outline: none;
  display: inline-flex;
  height: 30px;
}
input[type='file'] {
  border-radius: 0px;
  align-self: start !important  ;
}
.card {
  color: #1976d2;
  min-height: 100% !important;
  margin: 0 auto;
  border-radius: 20px;
  /* border-left-color: #1976d2; */
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-width: 10px;
  padding: 10px 10px;
  text-align: center;
}
.button {
  background-color: #e94412;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  outline: none;
  display: flex;
  border-radius: 15px;
  width: 35%;
  height: 30px;
  margin: 0 auto;
}

